iterm2-tools
jedi
exceptiongroup
line_profiler
matplotlib
# Warning: ollama-python is the conda package, but the pip package is ollama
# (ollama-python is also a pip package but it is not the correct one)
ollama-python
parso
prompt_toolkit
pudb
pyflakes
pygments
pyinstrument
setproctitle
